* {
    box-sizing: border-box;
}

.container {
    margin: 10px;
    padding: 20px;
    background-color: rgb(61, 6, 97);
}




/*<!--Hoja 1 Principio-->
/* Barra de navegacion*/
#homeRow {}

#homeCol {}

.colLogArg {}

.logArgP {
    height: 50px;
}

.hero {
    max-height: 90vh;
}

.img_perfil {
    max-height: 100px;
    border-radius: 50%;
}

/*<!--Hoja 1 Fin-->*/
/*<!--Hoja 2 Inicio-->*/

.row {
    height: 100%;
    padding: 20px 20px;
    background-color: rgb(206, 61, 188);

}

.colImg {}

.img_ExpLab {
    max-width: 200px;
    max-height: 100%;
}


/*<!--Hoja 2 Fin-->*/
/*<!--Hoja 3 Inicio-->*/

.row .edu {
    height: 100%;
    margin: 10px 10px;
    padding: 10px 10px;
}

.img_edu {
    max-width: 200px;
    max-height: 100%;
}

/*<!--Hoja 3 Fin-->*/
/*<!--Hoja 4 Inicio-->*/


/*<!--Hoja 4 Fin-->*/
/*<!--Hoja 5 Inicio-->*/


/*<!--Hoja 5 Fin-->*/